<div class="col-md-12 text-center">
  <h4 class="card-title">Add New Todo</h4>
</div>

<div class="col-md-4 border border-success m-auto p-3 rounded">
  <form #editTodoForm="ngForm" (ngSubmit)="saveChanges()">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="title" placeholder="Title" #title="ngModel" [(ngModel)]="todo.title"
        required>
      <div class="text-danger" *ngIf="title.dirty && title.invalid">
        Title is mandatory.
      </div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" name="description" placeholder="Description" #description="ngModel" [(ngModel)]="todo.description"
        required></textarea>
      <div class="text-danger" *ngIf="description.dirty && description.invalid">
        Description is mandatory.
      </div>
    </div>
    <div class="custom-control custom-checkbox mb-2">
      <input type="checkbox" class="custom-control-input" id="customCheck" name="isCompleted" [(ngModel)]="todo.isCompleted">
      <label class="custom-control-label" for="customCheck">Mark Completed</label>
    </div>
    <hr>
    <button type="submit" class="btn btn-success" [disabled]="editTodoForm.invalid">Save</button>
    <button type="button" class="btn btn-dark ml-3" (click)="cancelEdit()">Cancel</button>
  </form>
</div>