<div class="col-md-5 m-auto">
  <div class="card">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Email-Id</span>
        </div>
        <input type="text" class="form-control" placeholder="email">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Password</span>
        </div>
        <input type="password" class="form-control" placeholder="password">
      </div>
    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-primary" (click)="login()"> Log In </button>
      <button type="button" class="btn btn-outline-dark ml-2"> Clear </button>
    </div>
  </div>
</div>